@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, this is example application for practicing c# and .NET.</p>
</div>
<div class="text-desctiption">
    <h2 class="display-5">Text Arena</h2>
</div>
