html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #d4d4d4
}

footer {
    background-color: #d4d4d4
}

nav {
    background-color: #bababa
}

.display-4 {
    font-family: fantasy;
    font-size: 5vw;
    text-align: center;
}

.display-5 {
    font-family: fantasy;
    font-size: 10vw;
    text-align: center;
}

.text-desctiption{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-style: italic;

}

.form-group {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-block: 10px;
}

thead {
    background-color: #bbbbbb;
    border-width: 1px;
    border-color: black;
}

tr, td, th {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

td{
    background-color: white;
}

.link {
    color: black;
    font: bold;
    background-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: #555555;
    text-decoration: none;
    padding-block: 3px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left:10px;
    margin-right:10px;
}

    .link:hover {
        color: #777711;
        background-color: #555555;
    }